.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

 
   padding: 20px;
  margin-top: 180px;

  z-index: 20;

 
}

.category-box {
  background: white;
  color: black;
   

 margin-top: -180px;
 gap: 5px;
 margin-bottom: 100px;
  padding: 5px;
  border-radius: 12px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  transition: all 0.3s ease;
}

.category-box:hover {
  transform: translateY(-15px);
}

.category-box h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.category-box p {
  font-size: 14px;
  color: #555;
}

/* Tablet */

@media (max-width: 768px) {

  .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 6px;
    padding: 8px;

    margin-top: 00px;
  }

  .category-box {
    padding: 8px;
 
 margin-top: 2px; 
 margin-bottom: 3px;
  }

  .category-box h3 {
    font-size: 20px;
  }

  .category-box p {
    font-size: 12px;
  }

}

/* Small Mobile */

