.search-bar {
  display: flex;
  flex: 1;
  max-width: 700px;
  margin: 0 20px;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
   width:100%;
  padding:10px;
  border-radius:6px;
}

.search-btn {
  background-color: #febd69;
  padding: 10px 15px;
  cursor: pointer;
}