* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background:#eaeded;
}
.navbar {
 background-color: #131921;
color: gray;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 12px 20px;
}

.navbar-item {
  padding: 8px;
  border: 1px solid transparent;
  cursor: pointer;
}

.navbar-item:hover {
  border: 1px solid white;
}

.nav-logo {
  cursor: pointer;
}

.nav-location {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.nav-location p,
.nav-signin p,
.nav-orders p {
  font-size: 12px;
}

.nav-location h4,
.nav-signin h4,
.nav-orders h4 {
  font-size: 14px;
}

.nav-search {
  display: flex;
  width: 500px;
}

.nav-search input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.nav-search button {
  width: 50px;
  border: none;
  background: #febd69;
  cursor: pointer;
}

.nav-cart {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 20px;
}



/*  yha se mene apne wb page k liye all screen responsive code likha h*/


/*  @media feature h css ka use for create web page all screen responsive       */
/* Mobile Responsive */

@media (max-width: 768px) {

  .navbar {
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
  }

  .nav-logo {
    width: 100%;
    text-align: center;
  }

  .nav-location,
  .nav-signin,
  .nav-orders,
  .nav-cart {
    flex: 1;
    min-width: 120px;
  }

  .nav-search {
    width: 100%;
    order: 10;
  }

  .nav-search input {
    width: 100%;
  }

}