.footer {
  background:#232f3e;
  color: white;

  text-align: left;
 width: 100%;
    overflow-x: hidden;
    padding: 40px 20px;
    display: grid;
     grid-template-columns:repeat(3,1fr);
    justify-content: space-around;
 
}


.back-top {
  background:#37475a;
  color: white;
  text-align: center;
  padding: 15px;
  cursor: pointer;
}

.footer h3{
  margin-bottom:15px;
}

.footer p{
  margin-bottom:8px;
  cursor:pointer;
}

.footer p:hover{
  text-decoration:underline;
}

@media (max-width: 768px) {

  .footer{
    display: flex;
     grid-template-columns:1fr;
    gap:25px;
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

 
 


}